<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Education - Laudes Rivas</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
    <style>
        .section-heading {
            text-align: left;
        }
        .intro-img {
            max-width: 100%;
            height: auto;
        }
        .section-divider {
            margin-top: 20px;
            border-top: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Biomedical Engineer</span>
            <span class="site-heading-lower">Laudes Rivas</span>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Laudes Rivas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Home</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="projects.html">Projects</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="work.html">Work Experience</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="education.html">Education</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page-section contact-heading">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">Education</h2>
                        <div class="resume-item">
                            <h4 class="resume-item-heading">Health Technology and Informatics</h4>
                            <h5 class="resume-item-subheading">Tampere University</h5>
                            <p class="resume-item-description">Master's Degree Program</p>
                            <p class="resume-item-date">2022 - 2024</p>
                            <p class="resume-item-description">Minor in commercialization of medical devices and software</p>
                            <p class="resume-item-description">Specialization in standards and regulations.</p>
                            <p class="mb-0">(I am currently doing my thesis work, for more information please see <a href="https://www.linkedin.com/posts/huld_thesis-students-softwaredevelopment-activity-7178648586161700864--zIn?utm_source=share&utm_medium=member_desktop">here)</a>.</p>
                        </div>
                        <hr class="section-divider">
                        <div class="resume-item">
                            <h4 class="resume-item-heading">National Cheng Kung University</h4>
                            <h5 class="resume-item-subheading">Bioelectronics</h5>
                            <p class="resume-item-description">Bachelor's Degree Program</p>
                            <p class="resume-item-date">2018 - 2022</p>
                            <p class="resume-item-description">Minor in medical devices and systems.</p>
                            <p class="resume-item-description">Specialization in medical device innovation.</p>
                            <p class="resume-item-description">Cum laude</p>
                        </div>
                        <hr class="section-divider">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section contact-heading">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/graduation.jpg" alt="Giving the valedictorian speech for the class of 2022" />
                        <p class="note">Giving the valedictorian speech for the class of 2022. Taiwan.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container"><p class="m-0 small">Copyright &copy; Laudes Rivas</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>




