<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Laudes Rivas - Biomedical Engineer Resume</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />

</head>
<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Biomedical Engineer</span>
            <span class="site-heading-lower">Laudes Rivas</span>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Home</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="projects.html">Projects</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="work.html">Work Experience</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="education.html">Education</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page-section about-heading">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Resume</span>
                            <span class="section-heading-lower">Professional Experience</span>
                        </h2>
                        <h3 class="resume-section-heading mb-3">Embedded Software Designer</h3>
                        <div class="resume-item">
                            <h4 class="resume-item-heading">Huld Oy.</h4>
                            <h5 class="resume-item-subheading">Embedded Software Designer</h5>
                            <p class="resume-item-description">Assisted in building engineering prototypes and test setups for various medical device projects.</p>
                            <p>Executed defined tests according to protocols and documented test results.</p>
                            <p>Collaborated with senior engineers to troubleshoot and improve prototype designs.</p>
                            <p>Conducted data analysis and prepared reports to communicate findings to the team.</p>
                        </div>
                        <hr> <!-- Divider line -->
                        <h3 class="resume-section-heading mb-3">Research Engineer</h3>
                        <div class="resume-item">
                            <h4 class="resume-item-heading">Nordling Lab</h4>
                            <h5 class="resume-item-subheading">Research Engineer</h5>
                            <p class="resume-item-description">Worked in a multidisciplinary team to design and develop CO2, HRV, and HR measurement device prototypes.</p>
                            <p>Conducted extensive research on existing technologies and contributed to the design process.</p>
                            <p>Built and tested prototypes to evaluate performance and reliability.</p>
                            <p>Analyzed bio-signals with machine learning techniques.</p>
                        </div>
                        <hr> <!-- Divider line -->
                        <div class="resume-item">
                            <h3 class="resume-section-heading mb-3">Research Engineer</h3>
                            <h4 class="resume-item-heading">Motion Analysis Lab</h4>
                            <h5 class="resume-item-subheading">Research Engineer</h5>
                            <p class="resume-item-description">Redesigned the prosthetics-mechanical control system to reduce costs and improve grasping movements.</p>
                            <p>Programmed tests for robotic motion and sensor evaluation using C and C++.</p>
                            <p>Analyzed, processed, and simulated data with MATLAB.</p>
                        </div>
                        <hr> <!-- Divider line -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-faded text-center py-5">
        <div class="container"><p class="m-0 small">Copyright &copy; Laudes Rivas</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>



